*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito" , sans-serif;
}
body{
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background: #7d2ae8;
}
.all-content{    
  background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(./images/background.jpg);    
  
}
html ::-webkit-scrollbar-track{
  background: transparent;
}
html ::-webkit-scrollbar-thumb{
  background: #b2744c;
  border-radius: 10px;
}
html ::-webkit-scrollbar{
  width: 10px;
}
/* navbar start */
.navbar{
  background-color: transparent;
}
#logo img{
  border-radius: 10px;
  width: 100px;
  height: 100px;
  margin-left: 40px;
  border-radius: 50%;
  overflow: hidden;
}

h1{
  text-transform: uppercase;
  font-family: 'Ubuntu', sans-serif;
  color: white;
}

h1 span{
  text-transform: lowercase;
  font-family: 'Ubuntu',sans-serif;
  color: crimson;
}
h5{
  text-transform: lowercase;
  font-family: 'Ubuntu',sans-serif;
  color: crimson;
}

.navbar-nav{
  margin-left: 50px;
}
.nav-item .nav-link{
  color: white;
  margin-left: 10px;
  font-weight: bold;
  transition: 0.5s;
}
.nav-item .nav-link:hover{
  background: #f7f5f2;
  border-radius: 5px;
  color: black;
}
/* navbar end */

/* login section start */
.page{
  position: relative;
  display: flex;
  justify-content: center;
  max-width: 850px;
  width: 100%;
  background: #fff;
  padding: 40px 30px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  perspective: 2700px;
}
.page .cover{
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 50%;
  z-index: 98;
  transition: all 1s ease;
  transform-origin: left;
  transform-style: preserve-3d;
}
.page #flip:checked ~ .cover{
  transform: rotateY(-180deg);
}
/* updates */
.page #flip:checked ~ .cover .back{
  display: block;
}
.page #flip:checked ~ .cover .front{
  display: none;
}

.page #flip:checked ~ .cover .back .text{
  z-index: 99;
}
/* updates */
 .page .cover .front,
 .page .cover .back{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.cover .back{
  transform: rotateY(180deg);
  backface-visibility: hidden;
}
.page .cover::before,
.page .cover::after{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: #7c2ae800;
  opacity: 0;
  z-index: 11;
}
.page .cover::after{
  opacity: 0.3;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}
.page .cover img{
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 10;
}
.page .cover .text{
  position: absolute;
  z-index: 130;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cover .text .text-1,
.cover .text .text-2{
  font-size: 26px;
  font-weight: 600;
  color: #fff;
  text-align: center;
}
.cover .text .text-2{
  font-size: 15px;
  font-weight: 500;
}
.page .forms{
  height: 100%;
  width: 100%;
  background: #fff;
}
.page .form-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form-content .login-form,
.form-content .signup-form{
  width: calc(100% / 2 - 25px);
}
.forms .form-content .title{
  position: relative;
  font-size: 24px;
  font-weight: 500;
  color: #333;
}
.forms .form-content .title:before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 25px;
  background: #7d2ae8;
}
.forms .signup-form  .title:before{
  width: 20px;
}
.forms .form-content .input-boxes{
  margin-top: 30px;
}
.forms .form-content .input-box{
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  margin: 10px 0;
  position: relative;
}
.form-content .input-box input{
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  padding: 0 30px;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2px solid rgba(0,0,0,0.2);
  transition: all 0.3s ease;
}
.form-content .input-box input:focus,
.form-content .input-box input:valid{
  border-color: #7d2ae8;
}
.form-content .input-box i{
  position: absolute;
  color: #7d2ae8;
  font-size: 17px;
}
.forms .form-content .text{
  font-size: 14px;
  font-weight: 500;
  color: #333;
}
.forms .form-content .text a{
  text-decoration: none;
}
.forms .form-content .text a:hover{
  text-decoration: underline;
}
.forms .form-content .button{
  color: #fff;
  margin-top: 40px;
}
.forms .form-content .button input{
  color: #fff;
  background: #7d2ae8;
  border-radius: 6px;
  padding: 0;
  cursor: pointer;
  transition: all 0.4s ease;
}
.forms .form-content .button input:hover{
  background: #5b13b9;
}
.forms .form-content label{
  color: #5b13b9;
  cursor: pointer;
}
.forms .form-content label:hover{
  text-decoration: underline;
}
.forms .form-content .login-text,
.forms .form-content .sign-up-text{
  text-align: center;
  margin-top: 25px;
}
.page #flip{
  display: none;
}

#main-page{
  min-height: calc(100vh - 339.5px - 62px - 96px);
}

@media (max-width: 730px) {
  .page .cover{
    display: none;
  }
  .form-content .login-form,
  .form-content .signup-form{
    width: 100%;
  }
  .form-content .signup-form{
    display: none;
  }
  .page #flip:checked ~ .forms .signup-form{
    display: block;
  }
  .page #flip:checked ~ .forms .login-form{
    display: none;
  }
}
/* login section start */

#footer{
  width: 100%;
  background: #b2744c;
  margin-top: 50px;
}
.footer-logo img{
  width: 180px;
  border-radius: 10px;
  margin-top: 30px;
  cursor: pointer;
}
.socail-links i{
  font-size: 17px;
  margin-left: 10px;
  margin-top: 30px;
  padding: 10px;
  background: black;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}
.credits{
  color: white;
  margin-top: 20px;
  text-shadow: 0px 0px 1px black;
}
.credits a{
  text-decoration: none;
  color: black;
  font-weight: bold;
}
/* footer end */