*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
.all-content{    
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(./images/background.jpg);    
    
}
html ::-webkit-scrollbar-track{
    background: transparent;
}
html ::-webkit-scrollbar-thumb{
    background: #b2744c;
    border-radius: 10px;
}
html ::-webkit-scrollbar{
    width: 10px;
}

/* navbar start */
.navbar{
    background-color: transparent;
}
#logo img{
    border-radius: 10px;
    width: 100px;
    height: 100px;
    margin-left: 40px;
    border-radius: 50%;
    overflow: hidden;
}

h1{
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif;
    color: white;
}

h1 span{
    text-transform: lowercase;
    font-family: 'Ubuntu',sans-serif;
    color: crimson;
}
h5{
    text-transform: lowercase;
    font-family: 'Ubuntu',sans-serif;
    color: crimson;
}

.navbar-nav{
    margin-left: 50px;
}
.nav-item .nav-link{
    color: white;
    margin-left: 10px;
    font-weight: bold;
    transition: 0.5s;
}
.nav-item .nav-link:hover{
    background: #f7f5f2;
    border-radius: 5px;
    color: black;
}
#navbar form button{
    background: black;
    color: white;
    border: 1px solid white;
}
/* navbar end */





/* home section start */
#home{
    width: 100%;
    height: 90vh;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(./images/home3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 88%;
}
#home .content{
    padding-top: 210px;
    margin-left: 56px;
}
#home .content h3{
    font-size: 50px;
    color: white;
}
#home .content span{
    font-size: 50px;
    color: crimson;
}
#home .content p{
    margin-top: 10px;
    color: white;
}
#btn{
    width: 150px;
    height: 36px;
    margin-top: 20px;
    background: white;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    transition: 0.5s ease;
    cursor: pointer;
}
#btn:hover{
    background: #b2744c;
    color: white;
}
/* home section end */








/* about section start */
#about{
    width: 100%;
    height: 90vh;
}
#about .container{
    padding-top: 70px;
}
.heading{
    text-align: center;
    margin-bottom: 50px;
    color: white;
    font-size: 30px;
    font-weight: bold;
}
.heading span{
    color: #b2744c;
}

.col-md-6 h3{
    color: white;
}

.col-md-6 p{
    color: white;
}

#about .carousel{
    border-radius: 10px;
}
#about .carousel img{
    border-radius: 10px;
}
@media screen and (max-width:982px){
    #about p{
        font-size: 8px;
    }
}
@media screen and (max-width:766px){
    #about p{
        font-size: 15px;
    }
    #about{
        height: 100vh;
    }
}
/* about section end */



/* menu start */
#menu{
    width: 100%;
    margin-top: 60px;
}
.heading3{
    text-align: center;
    font-size: 30px;
    color: #b2744c;
    font-weight: bold;
    border-bottom: 2px solid #b2744c;
}

#menu .fs-3{
    color: white;
    font-size: 13px;
    text-align: center;
    font-family: 'Allura';
} 

#container2{
    margin-top: 50px;
}
#menu .card{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.star i{
    color: #b2744c;
}
#menu h3{
    text-align: center;
    color: #b2744c;
    margin-top: 10px;
    font-size: 25px;
}
#menu p{
    font-size: 16px;
    color: #b2744c;
    padding-top: 10px;
    
}
#menu p span{
    float: right;
    cursor: pointer;
}
/* menu end */







/* product section start */
#product{
    width: 100%;
}
.heading4{
    text-align: center;
    color: #b2744c;
    font-size: 30px;
    padding-top: 100px;
    font-weight: bold;
    border-bottom: 2px solid #b2744c;
}
#container3{
    margin-top: 30px;
}
#product h3{
    text-align: center;
    color: #b2744c;
    font-size: 23px;
}
#product p{
    color: #b2744c;
    padding-top: 10px;
}
#product p span{
    float: right;
    cursor: pointer;
}
/* product section end */








/* our gallery start */
#gallery {
    width: 100%;
}
.heading5{
    text-align: center;
    color: black;
    margin-top: 60px;
    font-size: 30px;
    font-weight: bold;
}
#gallery .heading5 span{
    color: #b2744c;
}
#gallery .card{
    border-radius: 10px;
    cursor: pointer;
}
#gallery .card img{
    border-radius: 10px;
}
/* our gallary end */








/* reservation start */
#contact{
    width: 100%;
    height: 100vh;
    padding-top: 70px;
}
#contact .container{
    width: 100%;
    height: 90vh;
    background: linear-gradient(90deg, white 80%, #b2744c 20%);
    border-radius: 10px;
}
.heading6{
    font-size: 30px;
    font-weight: bold;
    margin-top: 70px;
}
.heading6 span{
    color: #b2744c;
}
#contact p{
    font-weight: bold;
    font-size: 13px;
    color: black;
}
#contact input{
    width: 360px;
    border: none;
    border-bottom: 1px solid #b2744c;
}

#contact-btn{
    width: 200px;
    height: 36px;
    border: none;
    background: #b2744c;
    color: white;
    font-weight: bold;
    margin-top: 30px;
    cursor: pointer;
}
#col{
    width: 40%;
    height: 56vh;
    background: black;
    margin-top: 78px;
}
#contact h1{
    color: white;
    font-size: 25px;
    margin-top: 10px;
    margin-left: 10px;
}
#contact #col p{
    font-size: 15px;
    color: white;
    margin-left: 13px;
    margin-top: 30px;
}
@media screen and (max-width:766px){
    #contact .container{
        background: white;
    }
    #col{
        width: 100%;
        background: #b2744c;
    }
    #contact{
        height: 150vh;
    }
}
@media screen and (max-width:400px){
    #contact input{
        width: 250px;
    }
}
/* reservation end */





/* blogs start */
#blogs{
    width: 100%;
    padding-top: 70px;
}
#blogs .heading7{
    text-align: center;
    font-size: 30px;
    color: black;
    font-weight: bold;
}
#blogs .heading7 span{
    color: #b2744c;
}
#blogs .container{
    margin-top: 60px;
}

/* blogs end */






/* footer start */
#footer{
    width: 100%;
    background: #b2744c;
    margin-top: 50px;
}
.footer-logo img{
    width: 180px;
    border-radius: 10px;
    margin-top: 30px;
    cursor: pointer;
}
.socail-links i{
    font-size: 17px;
    margin-left: 10px;
    margin-top: 30px;
    padding: 10px;
    background: black;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
.credits{
    color: white;
    margin-top: 20px;
    text-shadow: 0px 0px 1px black;
}
.credits a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
#credits a span{
    color: black;
}
.copyright span{
    color: black;
}
/* footer end */
html{
    scroll-behavior: smooth;
}
.arrow{
    position: fixed;
    height: 50px;
    bottom: 40px;
    right: 50px;
    text-align: center;
    line-height: 50px;
}